#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}





#top,
#bottom {
    float: none;
    overflow: hidden;
}

#containerchart {
    width: 100%;
    height: 150px;
    position: relative;   
    border: #000 solid 1px;
}
#bck {
    width: 100%;
    height: 150px;
    border: #000 1px solid;
    position: absolute;
    z-index: 0;
    top: 10px;
}
#max {
    width: 100%;
    height: 150px;
    border: #000 1px solid;
    position: absolute;  
    z-index: 1;
    top: 10px;
}
#min {
    width: 100%;
    height: 150px;
    border: #000 1px solid;
    position: absolute;
    z-index: 2;
    top: 10px;
}
