<!--header-block-start-->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Weather Check</ion-title>
    <ion-buttons slot="start" class="menu-btn">
      <ion-menu-button class="ion-no-padding" disabled="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--/ header-block-end-->

<!--body-content-block-start-->
<ion-content [fullscreen]="true" color="Primary">

  <!--city-details-block-start-->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin content-bg">
          <ion-card-header class="ion-no-padding">
            <div class="search-bar">
              <ion-row  class="search-bar-bg ion-no-padding ion-align-items-stretch"> 
                <ion-col size="9">
                  <ion-searchbar placeholder="Search Location" class="ion-no-padding search-bar-bg"  [(ngModel)]="inputFromSearchBox"></ion-searchbar>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col size="1">
                  <ion-buttons class="search-bar-btn">
                    <ion-button (click)="onClickSearchBar()" > 
                      <ion-icon  name="search-outline" class="search-bar-icon"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
                <ion-col size="1" class="location-col">
                <ion-buttons class="search-bar-btn">
                  <ion-button (click)="onClickLoction()"> 
                    <ion-icon  name="location-outline" class="search-bar-icon"></ion-icon>
                  </ion-button>
                </ion-buttons>
                </ion-col>
              </ion-row>
           </div>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
                    <!---- <ion-item lines="none" class="search-bar"> 
                          <ion-input
                            placeholder="Search Location">
                          </ion-input>
                          <ion-buttons>
                            <ion-button  (change)="searchWeather($event)" [(ngModel)]="searchQuery"> 
                              <ion-icon name="search-outline" class="search-icon"></ion-icon>
                            </ion-button> 
                          </ion-buttons>
                          <ion-buttons>
                            <ion-button> 
                              <ion-icon  name="location-outline" class="location-icon"></ion-icon>
                            </ion-button> 
                          </ion-buttons>
                      </ion-item>-->
                  <!--<ion-row>
                      <ion-col size="8">  
                      </ion-col>
                      <ion-col size="2">
                        <ion-buttons>
                          <ion-button  (change)="searchWeather($event)" [(ngModel)]="searchQuery"> 
                            <ion-icon name="search-outline" class="search-icon"></ion-icon>
                          </ion-button> 
                        </ion-buttons>
                      </ion-col>
                      <ion-col size="2">
                        <ion-buttons>
                          <ion-button> 
                            <ion-icon  name="location-outline" class="location-icon"></ion-icon>
                          </ion-button> 
                        </ion-buttons>
                      </ion-col>
                    </ion-row> -->
            <ion-grid class="ion-no-padding city-details-container">
              <ion-row class="city-name-row" >
                <ion-col size="12">
                  <div>
                    <ion-text class="city-name-label">Weather for {{mCity}}</ion-text>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col size="8">
                  <div>
                    <div>
                      <ion-text class="temp-label">{{mCurrentTemp}}°C</ion-text>
                    </div>
                    <div class="desc-label-div">
                      <ion-text class="desc-label ion-text-wrap">AND RISING </ion-text>
                    </div>
                    <div class="ion-text-capitalize weather-label-div">
                      <ion-text class="weather-label ion-text-wrap">{{mWeather}}</ion-text>
                    </div>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <ion-item lines="none" class="weather-icon">
                    <ion-thumbnail slot="end" class="ion-no-margin">
                      <img src="{{mCurrentWeatherIcon}}" />
                    </ion-thumbnail>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="wind-label-row">
                <ion-col size="12">
                  <div>
                    <ion-text class="wind-label ion-text-wrap">Wind: {{mWind}} m/s Moderate Breeze </ion-text>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--/city-details-block-ends-->

  <!--details-block-start-->
  <ion-grid class="ion-no-padding weather-details-container">
    
     <!--Details block design for Smaller and Medium device-->
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin custom-card">
          <ion-card-header color="primary" class="card-header">
            <ion-text class="card-header-label ion-text-capitalize">DETAILS</ion-text>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-grid class="ion-no-padding">

          <!--Details block design for Smaller and Medium device start-->
              <ion-row class="ion-justify-content-around custom-detail-row-md">
                <ion-col size="4">
                  <div class="detail-icon">
                    <ion-thumbnail slot="start" class="ion-no-margin">
                      <img src="../../assets/images/wind_icon.png" />
                    </ion-thumbnail>
                  </div>
                  <div class="detail-desc-label">
                    <ion-text>Wind</ion-text>
                  </div>
                  <div class="detail-data-label">
                    <ion-text>{{mWind}}m/s</ion-text>
                  </div>
                </ion-col>
                <ion-col size="1" class="ion-hide-md-up">
                </ion-col>
                <ion-col size="4" size-md="4" >
                  <div lines="none" class="detail-icon">
                    <ion-thumbnail slot="start" class="ion-no-margin">
                      <img src="../../assets/images/humidity_icon.png" />
                    </ion-thumbnail>
                  </div>
                  <div class="detail-desc-label">
                    <ion-text> Humedity</ion-text>
                  </div>
                  <div class="detail-data-label">
                    <ion-text>{{mHumidity}} </ion-text>
                  </div>
                </ion-col>
              </ion-row>
              <!-- /Details block design for Smaller and Medium device end--->

              <!--Details block design for Larger device Start-->
              <ion-row class="ion-justify-content-center custom-detail-row-lg">
                <ion-col size="2">
                  <div class="detail-icon">
                    <ion-thumbnail class="ion-no-margin">
                      <img src="../../assets/images/wind_icon.png" />
                    </ion-thumbnail>
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="detail-desc-label">
                    <ion-text>Wind</ion-text>
                  </div>
                  <div class="detail-data-label">
                    <ion-text>{{mWind}}m/s</ion-text>
                  </div>
                </ion-col>
                <ion-col size="2" class="humidity-col">
                  <div lines="none" class="detail-icon">
                    <ion-thumbnail  class="ion-no-margin">
                      <img src="../../assets/images/humidity_icon.png" />
                    </ion-thumbnail>
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="detail-desc-label">
                    <ion-text> Humedity</ion-text>
                  </div>
                  <div class="detail-data-label">
                    <ion-text>{{mHumidity}} </ion-text>
                  </div>
                </ion-col>
              </ion-row>
              <!--Details block design for Larger device ends-->

            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
      
   
  </ion-grid>
  <!--/details-block-ends-->

  <!--forecast-block-start-->
  <ion-grid class="ion-no-padding forecast-details-container">
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin custom-card">
          <ion-card-header color="primary" class="card-header">
            <ion-text class="card-header-label ion-text-capitalize">
              FORECAST
            </ion-text>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-grid class="ion-no-padding">
              <div scrollY="true">
                <ion-row class="forecast-detail-row ion-justify-content-center"> 
                  <ion-col *ngFor="let day of mDate" class="ion-no-padding">
                    <div class="forecast-day-label">
                      <ion-text>Today</ion-text>
                    </div>
                    <div class="forecast-date-label">
                      <ion-text>{{day}}</ion-text>
                    </div>
                    <div class="">
                      <ion-thumbnail slot="start" class="ion-no-margin">
                        <img src="../../assets/images/01d.png" />
                      </ion-thumbnail>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="graph-data-row">
                  <ion-card-content class="ion-no-padding graph-container">
                    <div id="bck"><canvas #lineCanvasBckGround></canvas></div>
                    <div id="min"><canvas #lineCanvasMin></canvas></div>
                    <div id="max"><canvas #lineCanvasMax></canvas></div>
                  </ion-card-content>
               <!----   <div class="ion-card-content">
                    <div id="bck"><canvas #lineCanvasBckGround></canvas></div>
                    
                  </div>-->
                </ion-row>
              </div>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--/forecast-block-ends-->

  <!--graph-block-start-->

  <!--- 
  <ion-grid>
    <div scrollY="true" id="forecastContainer">
       <ion-row style="width: 1000px;">
       </ion-row>
    </div>
  </ion-grid>-->
  
  <!--/graph-block-ends-->
</ion-content>
<!--/body-content-block-ends-->
