/*-------------------------------------------*\
  *    home.page.scss
  * 
  *    Index
  *      -Global block
  *      -Header Toolbar
  *      -City Data Block
  *      -Details  Block
  *      -Forecast Block
  *      -Graph Block
  *
  *
\*-------------------------------------------*/

/*-------------------------------------------*\
    Global block csss
\*-------------------------------------------*/
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

div[scrollx="true"] {
  position: relative;
  overflow: hidden;
}

div[scrollx="true"] {
  overflow-x: auto;
}

div[scrolly="true"] {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

#top,
#bottom {
  float: none;
  overflow: hidden;
}

.hide{
  display: var(--mBackgroundLayoutVisiblity);
}

/*-------------------------------------------*\
    Header Toolbar Css
\*-------------------------------------------*/

@media (min-width: 768px) {
  ion-header,
  ion-toolbar,
  ion-title,
  .menu-btn {
    height: 90px;
  }
  .menu-btn {
    padding-left: 23px !important;
  }
}

.menu-btn {
  padding-left: 8px;
  margin-left: 0px;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 360px) {
  ion-title {
    font-size: 17px;
  }
}

.content-bg {
  background-image: url("../../assets/images/background-image/Bg_Image_Mobile.png") !important ;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px;
  box-shadow: none;
}

.search-bar {
  padding: 10px 10px 25px 10px;
}

.search-bar-icon {
  color: #0066a1;
  font-size: 20px;
  padding-top: 5px;
}

@media (min-width: 767px) {
  .search-bar-icon {
    font-size: 25px;
  }
}

.search-bar-btn {
  height: 42px;
}

@media (min-width: 767px) {
  .search-bar-btn {
    height: 65px;
  }
}
@media (min-width: 768px) {
  .search-icon {
    font-size: 35px;
  }

  .location-icon {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .search-bar {
    padding: 15px 35px 30px 35px;
  }
}

.search-bar-bg {
  background-color: white;
  height: 42px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .search-bar-bg {
    background-color: white;
    height: 65px;
  }
}
.searchbar-input {
  background-color: white;
}

.location-col {
  margin-right: 15px;
}
/*-------------------------------------------*\
   City Data Block Css
\*-------------------------------------------*/
.city-details-container {
  padding-left: 25px;
  
}

.city-details-container ion-text {
  color: #ffffff;
}
@media (min-width: 768px) {
  .city-details-container {
    padding-left: 50px;
  }
}

.city-name-label {
  font-size: 23px;
}
.city-name-row {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .city-name-row {
    padding-bottom: 50px;
  }
}

@media (max-width: 360px) {
  .city-name-label {
    font-size: 19px;
  }
}
/**
.city-temp-div{
padding-bottom: 12px;
}

@media (min-width: 768px) {
  .city-temp-div{
    padding-bottom: 15px;
    }
}**/

.temp-label {
  font-size: 53px;
  width: 100%;
}

.desc-label-div {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .desc-label-div {
    padding-bottom: 40px;
  }
}
.desc-label {
  font-size: 14px;
}

.weather-label-div {
  padding-bottom: 2px;
}

.weather-label {
  font-size: 19px;
  font-weight: bold;
}

.wind-label-row {
  padding-bottom: 10px;
}
.wind-label {
  font-size: 14px;
}

.weather-icon ion-thumbnail {
  min-width: 4rem;
  min-height: 4rem;
}
ion-item {
  --background: rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
  .weather-icon ion-thumbnail {
    min-width: 7rem;
    min-height: 7rem;
  }
}

.weather-icon {
  padding-right: 25px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .weather-icon {
    padding-right: 35px;
    padding-top: 20px;
  }
}

/*-------------------------------------------*\
   Details  Block Css
\*-------------------------------------------*/
.weather-details-container {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .weather-details-container {
    margin: 20px 35px 0px 35px;
  }
}

.custom-card {
  border-radius: 0px;
}
.card-header-label {
  font-size: 17px;
}

.card-header {
  height: 50px;
}

@media (min-width: 768px) {
  .card-header {
    height: 65px;
    padding: 22px 0px 22px 20px;
  }
  .card-header-label {
    height: 65px;
  }
}

.custom-detail-row-md {
  height: 148px;
  padding: 0px 35px 0px 35px;
}

@media (min-width: 768px) {
  .custom-detail-row-md {
    display: none;
  }
}

.custom-detail-row-lg {
  height: 135px;
  padding: 12px 35px 12px 35px;
}

@media (max-width: 767px) {
  .custom-detail-row-lg {
    display: none;
  }
}

.detail-icon {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .detail-icon {
    float: right;
    padding-right: 35px;
  }
}

@media (max-width: 767px) {
  .detail-icon ion-thumbnail {
    max-width: 2.2rem;
    max-height: 2.2rem;
    margin: auto;
  }
}

.detail-desc-label {
  font-size: 16px;
  padding-top: 15px;
  text-align: center;
  color: #0066a1;
}

@media (min-width: 768px) {
  .detail-desc-label {
    font-size: 16px;
    text-align: center;
    color: #0066a1;
  }
}

.detail-data-label {
  font-size: 23px;
  text-align: center;
  color: #0066a1;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .humidity-col {
    padding-left: 220px;
  }
}

/*-------------------------------------------*\
   Forecast Block Css
\*-------------------------------------------*/

.forecast-details-container {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .forecast-details-container {
    margin: 20px 35px 0px 35px;
  }
}

.forecast-day-label {
  color: #0066a1;
  font-size: 13px;
  font-weight: bold;
}

.forecast-date-label-lg{
  padding-left:5px;
}

.forecast-date-label-md {
  color: #0066a1;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .forecast-detail-row {
    width: 650px;
    padding-left: 10px;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .forecast-detail-row {
    height: 120px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .forecast-icon ion-thumbnail {
    max-width: 2rem;
    padding-top: 15px;
  }
}

@media (min-width: 768px) {
  .forecast-icon ion-thumbnail {
    max-width: 2.3rem;
    max-height: 3rem;
    padding-top: 14px;
  }
}

@media(max-width:767px){
  .forecast-col-lg{
      display: none;
  }
}
@media(min-width:768px){
  .forecast-col-md{
    display: none;
  }
  .forecast-col-lg{
    padding-right: 30px;
  }
}

/*-------------------------------------------*\
   Graph  Block Css
\*-------------------------------------------*/

@media (max-width: 767px) {
  .graph-data-row {
    width: 650px;
    padding-top: 20px;
  }
}

.graph-bg {
  height: 75px;
  z-index: 0;
  top: 10px;
}
.max-point {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 1;
  top: 10px;
}
.min-point {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 2;
  top: 10px;
}

.graph-container {
  width: 100%;
  background-color: #0e94e1;
}
